# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage*
.venv/
venv/

# Env/Secrets
.env
.env.*
.streamlit/secrets.toml
.cache/

# Build/Dist
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/

